---
---


@import "minima";

.video-container {
  position: relative;
  width: 100%;
  max-width: 853px; /* Optional: limit maximum size */
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

header {
  z-index: 1000;
}

.swiper-container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: auto;
  margin: auto;
  overflow: hidden; /* Prevents horizontal scrolling */
  position: relative;
  margin-top: 40px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Ensures full image fits */
}

.row {
  display: flex;
  gap: 30px;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

// Force the hamburger menu to always show
.nav-trigger {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.menu-icon {
  display: block !important;
  cursor: pointer;
  z-index: 100;
}

// Hide the desktop navigation links
.site-nav .trigger {
  display: none;
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  right: 0;
  top: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 300px; // Constrain dropdown width
  width: 100%;
}

// Show the dropdown menu when the checkbox is checked
.nav-trigger:checked ~ .trigger {
  display: block;
}

// Truncate long text in dropdown links
.trigger a.page-link {
  display: block;
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; // Adjust as needed
}
.red-header {
  font-size:xx-large;
  color: red;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.red-small-header {
  font-size:x-large;
  color: red;
  text-align: center;
}

.blue-header {
  font-size:xx-large;
  color: blue;
  font-weight: bold;
  text-align: center;
}

.black-header {
  font-size:x-large;
}

.margin-bottom {
  margin-bottom: 50px;
  overflow: hidden;
}

.margin-top {
  margin-top: 50px;
}

.drive-wrap {
  display: flex; 
  justify-content: center; 
}

.iframe-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}